body{
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.chess__board{
    border: solid;
    width: 413px;
    height: 413px;

    display: grid;
    grid-template-columns: repeat(8,8fr);
}

.square{
    display: flex;
    border: 0.1px green solid;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

button{
    width: 412px;
    height: 50px;
    margin: 1rem 0;
    background-color: white;
    border: solid black;
    font-size: 1.5rem;
    cursor: pointer;
}
